/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End CSS reset */

.summary {
}
    .summary h1,
    .shortlog h1 {
    }

        .summary h1 a,
        .summary h1 span,
        .shortlog h1 a,
        .shortlog h1 span,
        .tree h1 span,
        .commit h1 span,
        .commitdiff h1 span {
            display: block;
            font-weight: bold;
            padding: 0.67em 0;
        }

    .summary table,
    .shortlog table,
    .tree table,
    .commitdiff table,
    .index table {
        font-family: monospace, courier new;
        font-size: 90%;
        table-layout: fixed;
    }

        .summary th,
        .summary td,
        .shortlog th,
        .shortlog td,
        .tree th,
        .tree td,
        .filelist th,
        .filelist td,
        .commitdiff td,
        .index td {
            vertical-align: middle;
        }

        .summary th,
        .shortlog th,
        .tree th,
        .filelist th,
        .commitdiff th,
        .index th {
            font-weight: bold;
            padding: 5px 4px;
            white-space: nowrap;
        }

        .summary td,
        .shortlog td,
        .tree td,
        .filelist td,
        .commitdiff td,
        .index td {
            padding: 3px 4px;
            white-space: nowrap;
        }

        .summary .date,
        .shortlog .date {
            width: 120px;
        }

        .summary .author,
        .shortlog .author {
            overflow: hidden;
            width: 200px;
        }

            .summary .author a,
            .shortlog .author a {
            }

        .summary .message,
        .shortlog .message,
        .index .message {
            overflow: hidden;
        }

            .summary .message a,
            .shortlog .message a {
                display: block;
                float: left;
            }

        .summary .actions,
        .shortlog .actions,
        .index .actions {
            width: 150px;
        }

            .summary .actions a,
            .shortlog .actions a,
            .tree .download a {
                display: block;
                float: left;
            }

                .summary .actions img,
                .shortlog .actions img,
                .tree .download img,
                .index .actions img {
                    padding: 3px;
                }

        .tree .perm {
            width: 80px;
        }

        .tree .name {
            overflow: hidden;
        }

        .tree a.item_name {
            display: block;
            min-height: 16px;
            padding: 4px 0;
        }

        .tree .dir a.item_name {
            padding-left: 20px;
            background: url('../img/silk/folder.png') no-repeat 0 50%;
        }

        .tree .blob a.item_name {
            padding-left: 20px;
            background: url('../img/silk/page_white_text.png') no-repeat 0 50%;
        }

        .tree .download {
            width: 60px;
        }

        .index {
        }

            .index td {
                overflow: hidden;
            }

            .project {
                overflow: hidden;
                width: 100px;
            }

            .description {
                width: 100px;
            }

            .age {
                width: 60px;
            }

            td.age {
                text-align: right;
            }

            .message {
            }

            .actions {
            }

.commit {
}

    .commit table {
        font-family: monospace, courier new;
        line-height: 150%;
    }

    .commitmessage {
        background: #ffe;
        border: 1px solid #999;
        margin: 1em 0;
    }

        .commitmessage pre {
            white-space: pre-wrap;                 /* css-3 */
            white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
            white-space: -pre-wrap;                /* Opera 4-6 */
            white-space: -o-pre-wrap;              /* Opera 7 */
            word-wrap: break-word;                 /* Internet Explorer 5.5+ */

            font-family: monospace, courier new;
            font-size: 100%;
            padding: 0.5em;
        }

    .diff {
        font-family: monospace, courier new;
    }


/**
 * More polished style for ViewGit
 * @author John Lawrence <mail@johnlawrence.net>
 */
body {
	font-family: "Helvetica", Arial, sans-serif;
	color: black;
	background-color: white;
	margin: 0px;
	font-size: 80%;
}

a {
	color: #c00;
}

a.external {
	text-decoration: none;
}

a.external:before {
	content: ' [';
}

a.external:after {
	content: '] ';
}

a.tree_link {
	padding-top: 16px;
	height: 0px;
	width: 22px;
	overflow: hidden;
	display: inline-block;
	background: url('../img/silk/chart_organisation.png') no-repeat 50% 50%;
}

a.tar_link,
a.zip_link {
    float: left;
}

a.tar_link {
	padding-top: 16px;
	height: 0px;
	width: 22px;
	overflow: hidden;
	display: inline-block;
	background: url('../img/silk/page_white_compressed.png') no-repeat 50% 50%;
}

a.zip_link{
	padding-top: 16px;
	height: 0px;
	width: 22px;
	overflow: hidden;
	display: inline-block;
	background: url('../img/silk/page_white_zip.png') no-repeat 50% 50%;
}

a.cdiff_link {
	padding-top: 16px;
	height: 0px;
	width: 22px;
	overflow: hidden;
	display: inline-block;
	background: url('../img/silk/commit_diff.png') no-repeat 50% 50%;
}

a.patch_link {
	padding-top: 16px;
	height: 0px;
	width: 22px;
	overflow: hidden;
	display: inline-block;
	background: url('../img/silk/page_white_code_red.png') no-repeat 50% 50%;
}

h1 {
	font-size: 130%;
}

h1 a {
	text-decoration: none;
}

h2 {
	font-size: 115%;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table tr.even {
	background-color: #f8f8f8;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}

table tbody tr:hover {
	background-color: #e0ffe0;
}

table th {
	background-color: #cfcfcf;
	text-align: left;
	border-bottom: 1px solid #666;
	border-top: 1px solid #666;
	padding: 6px 2px;
}

.notices {
	padding-left: 1em;
	margin: 0;
}

.notices p {
	margin: 0;
	padding: 0;
}

.notices .error {
	background-color: #f77;
}

.notices .info {
	background-color: #ff7;
}

.notices .warning {
	background-color: #fc7;
}

.nav {
	font-size: 1.4em;
	padding: 20px;
	margin: 0;
	background:#333 url('../img/viewgit.png') no-repeat 98% 50%;
	border-bottom: 1px solid #000;
	color: #eee;
}

.nav a {
	text-decoration: none;
	color: #4d4;
	font-size: 1.2em;
	font-weight: bold;
}

div#page_body {
	margin: 10px 20px;
}

.pagenav {
	margin-top: 0.3em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

.pagenav a {
	text-decoration: none;
}

.pagenav a:hover {
	text-decoration: underline;
}

.pagenav .cur {
	font-weight: bold;
}

.search {
	display: inline;
}

.ad {
	margin-top: 20px;
	text-align: center;
	font-size: 80%;
}

span.label {
	font-size: 80%;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-left: 0.5em;
	font-weight: bold;
}

span.head {
	background-color: #afa;
	border-right: 1px solid #090;
	border-bottom: 1px solid #090;
}

span.remote {
	background-color: #faf;
	border-right: 1px solid #909;
	border-bottom: 1px solid #909;
}

span.tag {
	background-color: #ffa;
	border-right: 1px solid #990;
	border-bottom: 1px solid #990;
}

/* commitdiff template */

code,
pre {
}


.diff .add {
    background-color: #dfd;
}

.diff .del {
    background-color: #fdd;
}

.diff .pos {
	color: purple;
}

.diff .etc {
	color: #999;
}

    .diff .etc .del {
        color: #000;
    }

/* viewblob template */
.file {
	border:1px solid #999;
	background:#ddd;
	padding: 0 0.5em;
	margin: 0.5em;
	font-size: 1.2em;
}

