#nav {
}

#page_body {
}

    .pagenav {
        margin: 10px 0;
    }

        .pagenav ul {
            border-bottom: 1px solid #ddd;
        }

            .pagenav li {
                display: inline-block;
            }

            .pagenav .active {
            }

                .pagenav .active a {
                    background-color: #fff;
                    color: #333;
                    font-weight: bold;
                    border-left: 1px solid #ddd;
                    border-top: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                }

                .pagenav a {
                    border-left: 1px solid transparent;
                    border-top: 1px solid transparent;
                    border-right: 1px solid transparent;
                    color: #666;
                    font-size: 110%;
                    display: inline-block;
                    margin-bottom: -1px;
                    padding: 8px 12px;
                    text-decoration: none;
                }

                .pagenav a:hover {
                    text-decoration: underline;
                }

        .pagenav form {
        }

    .commits {
    }

        .commits h3 {
            background: #e6f1f6;
            border: 1px solid #c5d5dd;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            color: #3a505b;
            font-size: 13px;
            font-weight: bold;
            margin: 15px 0 0 0;
            padding: 8px;
            text-shadow: 0 1px rgba(255, 255, 255, 1.0);
        }

        .commits ol {
            background: #f7fbfc;
            border-right: 1px solid #c5d5dd;
            border-bottom: 1px solid #c5d5dd;
            border-left: 1px solid #c5d5dd;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            margin: 0 0 15px 0;
        }

            .commits li:hover {
                background-color: #fcfce2;
            }

            .commits li:first-child {
                border-top: 0;
            }

            .commits li {
                border-top: 1px solid #e2eaee;
                padding: 8px;
            }

            .commits .odd {
                background-color: #fff;
            }

            .commits .even {
            }

                .commits a {
                    text-decoration: none;
                }

                .commits a:hover {
                    text-decoration: underline;
                }

                .commits .message,
                .commits .message a {
                    display: block;
                }

                .commits .message a {
                    color: #333;
                    font-size: 14px;
                    font-weight: bold;
                    margin: 1px 0 1px;
                }

                .commits .authorship {
                    color: #888;
                    display: block;
                    font-size: 95%;
                    padding-top: 4px;
                }

                    .commits .author {
                        padding-right: 4px;
                    }

                    .commits .author a {
                        color: #444;
                    }

                    .commits .authorship time {
                    }

    .files-page {
    }

        .files table {
            border: 1px solid #cacaca;
            border-radius: 3px 3px 3px 3px;
            width: 100%;
        }

            .files th {
                background-color: #fafafa;
                background-image: -moz-linear-gradient(#fafafa, #eaeaea);
                border-bottom: 1px solid #d8d8d8;
                color: #555555;
                font-weight: bold;
                padding: 8px 3px;
                text-align: left;
                text-shadow: 0 1px 0 #ffffff;
                text-transform: lowercase;
            }

            .files td {
                background-color: #f8f8f8;
                border-bottom: 1px solid #eeeeee;
                color: #484848;
                padding: 8px 3px;
                vertical-align: middle;
                white-space: nowrap;
            }

            .files tbody tr:last-child td {
                border-bottom: 0;
            }

            .files .name {
                padding-left: 25px;
            }

            .files tbody .dir .name,
            .files tbody .blob .name {
                background-repeat: no-repeat;
                background-position: 4px 4px;
            }

            .files tbody .dir .name {
                background-image: url("../img/silk/folder.png");
            }

            .files tbody .blob .name {
                background-image: url('../img/silk/page_white_text.png');
            }

            .files a {
                color: #4183c4;
                text-decoration: none;
            }

            .files a:hover {
                color: #4183c4;
                text-decoration: underline;
            }

            .files p {
                margin: 10px 0;
            }

    .powered-by {
        color: #636363;
        float: right;
        line-height: 150%;
        margin-top: 35px;
        padding-bottom: 25px;
        width: 200px;
    }

        .powered-by a {
            color: #000;
            text-decoration: none;
        }

        .powered-by a:hover {
            text-decoration: underline;
        }

/*

.tree .name {
    width: 200px;
}

.tree .age {
    width: 60px;
}

.tree .download {
    width: 60px;
}

table tr.even {
	background-color: #f8f8f8;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}

table tbody tr:hover {
	background-color: #e0ffe0;
}

table th {
	background-color: #cfcfcf;
	text-align: left;
	border-bottom: 1px solid #666;
	border-top: 1px solid #666;
	padding: 6px 2px;
}
*/

.summary {
}
    .summary h1,
    .shortlog h1 {
    }

        .summary h1 a,
        .summary h1 span,
        .shortlog h1 a,
        .shortlog h1 span,
        .tree h1 span,
        .commit h1 span,
        .commitdiff h1 span {
            display: block;
            font-weight: bold;
            padding: 0.67em 0;
        }

    .summary table,
    .shortlog table,
    .tree table,
    .commitdiff table,
    .index table {
        font-family: 'Monaco', 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'monospace';
        font-size: 90%;
        table-layout: fixed;
        overflow-x: hidden;
    }

        .summary th,
        .summary td,
        .shortlog th,
        .shortlog td,
        .tree th,
        .tree td,
        .filelist th,
        .filelist td,
        .commitdiff td,
        .index td {
            vertical-align: middle;
        }

        .summary th,
        .shortlog th,
        .tree th,
        .filelist th,
        .commitdiff th,
        .index th {
            font-weight: bold;
            padding: 5px 4px;
            white-space: nowrap;
        }

        .summary td,
        .shortlog td,
        .tree td,
        .filelist td,
        .commitdiff td,
        .index td {
            padding: 3px 4px;
            white-space: nowrap;
        }

        .summary .date,
        .shortlog .date {
            width: 120px;
        }

        .summary .author,
        .shortlog .author {
            overflow: hidden;
            width: 200px;
        }

            .summary .author a,
            .shortlog .author a {
            }

        .summary .message,
        .shortlog .message,
        .index .message {
            overflow: hidden;
        }

            .summary .message a,
            .shortlog .message a {
                display: block;
                float: left;
            }

        .summary .actions,
        .shortlog .actions,
        .index .actions {
            width: 150px;
        }

            .summary .actions a,
            .shortlog .actions a,
            .tree .download a {
                display: block;
                float: left;
            }

                .summary .actions img,
                .shortlog .actions img,
                .tree .download img,
                .index .actions img {
                    padding: 3px;
                }

        .index {
        }

            .index td {
                overflow: hidden;
            }

            .project {
                overflow: hidden;
                width: 100px;
            }

            .description {
                width: 100px;
            }

            .age {
                width: 60px;
            }

            td.age {
                text-align: right;
            }

            .message {
            }

            .actions {
            }

.commit {
}

    .commit table {
        font-family: monospace, courier new;
        line-height: 150%;
    }

    .commitmessage {
        background-color: #e6f1f6;
        border: 1px solid #c5d5dd;
        border-radius: 4px;
        margin: 1em 0;
    }

        .commitmessage pre {
            white-space: pre-wrap;                 /* css-3 */
            white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
            white-space: -pre-wrap;                /* Opera 4-6 */
            white-space: -o-pre-wrap;              /* Opera 7 */
            word-wrap: break-word;                 /* Internet Explorer 5.5+ */

            color: #213f4d;
            font-family: 'Helvetica', 'arial', 'freesans', 'clean', 'sans-serif';
            font-size: 150%;
            font-weight: bold;
            padding: 0.5em;
        }

        .authorinfo {
            background-color: white;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            border-top: 1px solid #D8E6EC;
            padding: 8px;
        }

            .authorinfo a {
                text-decoration: none;
            }

            .authorinfo a:hover {
                text-decoration: underline;
            }

            .authorinfo .author {
            }

                .authorinfo .author a {
                    color: #4183c4;
                }

            .authorinfo .age {
                color: #999;
            }

            .authorinfo .commit {
                color: #888;
                display: block;
                float: right;
            }

                .authorinfo .commit a {
                    color: #444;
                    font-family: 'Monaco', 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'monospace';
                }

    .filelist {
    }

        .filelist a {
            color: #4183c4;
            text-decoration: none;
            font-family: 'Monaco', 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'monospace';
            font-size: 110%;
        }

        .filelist a:hover {
            text-decoration: underline;
        }

        .filelist table {
            border-top: 1px solid #ddd;
        }

            .filelist td {
                border-bottom: 1px solid #ddd;
                padding: 6px 4px;
            }

    .commitdiff {
    }

        .commitdiff .diff {
            margin: 20px 0;
        }

            .commitdiff .diff pre {
                font-family: 'Consolas', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', 'monospace';
                font-size: 110%;
                line-height: 110%;
            }

            .commitdiff .diff pre {
                border: 1px solid #ccc;
            }


        .commitdiff .diff .add {
            background-color: #dfd;
        }

        .commitdiff .diff .del {
            background-color: #fdd;
        }

        .commitdiff .diff .pos {
            color: #999;
        }

        .commitdiff .diff .etc {
            color: #999;
        }

            .commitdiff .diff .etc .add,
            .commitdiff .diff .etc .del {
                color: #000;
            }

/**
 * More polished style for ViewGit
 * @author John Lawrence <mail@johnlawrence.net>
 */
body {
	font-family: "Helvetica", Arial, sans-serif;
	color: black;
	background-color: white;
	margin: 0px;
	font-size: 80%;
}

a {
	color: #c00;
}

a.external {
	text-decoration: none;
}

a.external:before {
	content: ' [';
}

a.external:after {
	content: '] ';
}

a.tree_link {
	padding-top: 16px;
	height: 0px;
	width: 22px;
	overflow: hidden;
	display: inline-block;
	background: url('../img/silk/chart_organisation.png') no-repeat 50% 50%;
}

a.tar_link,
a.zip_link {
    float: left;
}

a.tar_link {
	padding-top: 16px;
	height: 0px;
	width: 22px;
	overflow: hidden;
	display: inline-block;
	background: url('../img/silk/page_white_compressed.png') no-repeat 50% 50%;
}

a.zip_link{
	padding-top: 16px;
	height: 0px;
	width: 22px;
	overflow: hidden;
	display: inline-block;
	background: url('../img/silk/page_white_zip.png') no-repeat 50% 50%;
}

a.cdiff_link {
	padding-top: 16px;
	height: 0px;
	width: 22px;
	overflow: hidden;
	display: inline-block;
	background: url('../img/silk/commit_diff.png') no-repeat 50% 50%;
}

a.patch_link {
	padding-top: 16px;
	height: 0px;
	width: 22px;
	overflow: hidden;
	display: inline-block;
	background: url('../img/silk/page_white_code_red.png') no-repeat 50% 50%;
}

h1 {
	font-size: 130%;
}

h1 a {
	text-decoration: none;
}

h2 {
	font-size: 115%;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.notices {
	padding-left: 1em;
	margin: 0;
}

.notices p {
	margin: 0;
	padding: 0;
}

.notices .error {
	background-color: #f77;
}

.notices .info {
	background-color: #ff7;
}

.notices .warning {
	background-color: #fc7;
}

.nav {
	font-size: 1.4em;
	padding: 20px;
	margin: 0;
	background:#333 url('../img/viewgit.png') no-repeat 98% 50%;
	border-bottom: 1px solid #000;
	color: #eee;
}

.nav a {
	text-decoration: none;
	color: #4d4;
	font-size: 1.2em;
	font-weight: bold;
}

div#page_body {
	margin: 10px 20px;
}

.search {
	display: inline;
}

.ad {
	margin-top: 20px;
	text-align: center;
	font-size: 80%;
}

span.label {
	font-size: 80%;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-left: 0.5em;
	font-weight: bold;
}

span.head {
	background-color: #afa;
	border-right: 1px solid #090;
	border-bottom: 1px solid #090;
}

span.remote {
	background-color: #faf;
	border-right: 1px solid #909;
	border-bottom: 1px solid #909;
}

span.tag {
	background-color: #ffa;
	border-right: 1px solid #990;
	border-bottom: 1px solid #990;
}

/* viewblob template */
.file {
    background-color: #ddd;
    border: 1px solid #ccc;
    font-size: 1.2em;
    margin: 20px 0;
}

    .file pre {
        font-family: 'Consolas', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', 'monospace';
        font-size: 90%;
        line-height: 110%;
    }
