body {
	color: black;
	background-color: white;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-size: 90%;
}

table tr td {
}

table tbody tr:hover {
	background-color: #ccc;
}

table th {
	text-align: left;
	border-bottom: 1px solid black;
}

/* summary template */

table.shortlog th.date {
	width: 15%;
	white-space: pre;
}

table.shortlog th.author {
	width: 15%;
}

table.heads th.date {
	width: 15%;
}

